boto==2.49.0
boto3==1.10.35
botocore==1.13.35
bz2file==0.98
certifi==2019.11.28
chardet==3.0.4
decorator==4.4.1
docutils==0.15.2
funcsigs==1.0.2
futures==3.3.0
gensim==3.8.1
h5py==2.10.0
idna==2.8
jmespath==0.9.4
joblib==0.14.0
Keras==1.2.2
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
mock==3.0.5
networkx==2.2
node2vec==0.3.0
numpy==1.16.5
pandas==0.24.2
protobuf==3.11.1
pycairo==1.18.2
python-dateutil==2.8.0
python-igraph==0.7.1.post7
pytz==2019.3
PyYAML==5.2
requests==2.22.0
s3transfer==0.2.1
scikit-learn==0.18.1
scipy==1.2.2
six==1.13.0
smart-open==1.9.0
tensorflow==1.1.0
tqdm==4.40.2
urllib3==1.25.8
Werkzeug==0.16.0
